form * { display: none; }

.card {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	border: 1px solid black !important;
	width: 2.5in !important;
	height: 3.5in !important;
	text-align: center;
	justify: center;
}

.subsection {
	justify-content: center;
	align-items: center;
	display: flex;
	border: 1px solid black !important;
	margin: 2%;
	height: auto;
	width: auto;
}

.subsection1 {
	font-weight: bold;
	height: 13%;
}

.subsection2 {
	height: 50%;
}

.subsection3 {
	font-style: italic;
	height: 25%;
}
